@font-face {
font-family: console; 
src: url(font.ttf); 
}
* {
margin: auto;
text-decoration: none;
font-family: console, 'Comic Sans MS', cursive;
text-align: center;
color: white;
}
#about_entry {
border-radius: 5px;
margin-top: 5px;
border: 2px solid white;
width: 35vw
}
#move {
text-align: left;
display: block;
padding: 0 65px 0 0;
}
body {
background-color: #202020;
}
#border {
width: 95%;
background-color: white;
height: 2px;
}
#screen {
font-size: 3vw;
position: relative;
height: 100%;
border: 30px solid transparent;
border-image-source: url(bezel.png);
border-image-slice: 30 fill;
border-image-outset: 0;
overflow: hidden;
}
.crt:after {
content: " ";
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-image: radial-gradient(rgba(150, 150, 150, 0.3), transparent 80%);
pointer-events: none;
}
.crt {
pointer-events: none;
width: 100%;
height: 100%;
position: absolute;
background-image: 
repeating-linear-gradient(0deg, transparent 1rem, black 1.2rem);
background-size: 200% 200%;
animation: barberpole 50s linear infinite;
}
@keyframes barberpole {
100% {
background-position: 100% 100%;
}
}